{if logged_in_group_id == 5}
<ul class="side_navigation">
	<li><a href="{global_url}account/orbits">Your Orbits</a></li>
	<li><a href="{global_url}account/profile">Your Account</a></li>
	<li><a href="{global_url}account/edit">Edit Profile</a></li>
	<li><a href="{global_url}account/password">Login / Password</a></li>
</ul>
{if:else}
<ul class="side_navigation">
	<li><a href="{global_url}account/orbits">Your Orbits</a></li>
	<li><a href="{global_url}account/profile">Your Account</a></li>
	<li><a href="{global_url}account/settings">Account Settings</a></li>
	<li><a href="{global_url}account/password">Login / Password</a></li>
</ul>
{/if}