{if logged_in_group_id == 5}
<ul class="side_navigation">
	<li><a href="">Search Jobs</a></li>
	<li><a href="">Interested In</a></li>
	<li><a href="">Managers</a></li>
	<li><a href="{global_url}account/profile">Your Account</a></li>
	<li><a href="{global_url}account/password">Change Login / Password</a></li>
</ul>
{if:else}
<ul class="side_navigation">
	<li><a href="">Search Jobs</a></li>
	<li><a href="">Interested In</a></li>
	<li><a href="">Managers</a></li>
	<li><a href="{global_url}account/profile">Your Account</a></li>
	<li><a href="{global_url}account/password">Change Login / Password</a></li>
</ul>
{/if}