{embed="Includes/.Source" pageTitle="" pageDescription=""}
		<link rel="stylesheet" type="text/css" href="{site_url}assets/css/account.css" />
	</head>
	
	<body>
		{embed="Includes/.Header"}
		
		<div class="container">
			<div class="col-xs-12 col-md-2">
				{embed="Includes/.Sidebar"}
			</div>
			<div class="col-xs-12 col-md-10 noPad">
				<div class="col-xs-12">
					<h1 class="pageMainHeading">Edit Your Profile</h1>
				</div>
				{exp:profile:edit return="account/profile"}
					<div class="col-xs-12">
						{field:resume}
					</div>
					<div class="col-xs-12 col-md-3">
						{field:profile_picture}
					</div>
					<div class="col-xs-12 col-md-9">
						<label>{label:personal_summary}</label>
						{field:personal_summary}
					</div>
					
					<div class="clear"></div>
					
					<div class="col-xs-12">
						<hr>
						<h3>Professional Profile</h3>
						<hr>
					</div>
					
					<div class="col-xs-12 col-md-6">
						<label>{label:job_title}</label>
						{field:job_title}
					</div>
					<div class="col-xs-12 col-md-6">
						<label>{label:company}</label>
						{field:company}
					</div>
					<div class="col-xs-6 col-md-3">
						<label>{label:overall_experience}</label>
						{field:overall_experience}
					</div>
					<div class="col-xs-6 col-md-3"></div>
					<div class="col-xs-6 col-md-3">
						<label>{label:interested_in}
						{field:interested_in}
					</div>
					<div class="col-xs-6 col-md-3">
						<label>{label:willing_to_relocate}</label>
						{field:willing_to_relocate}
					</div>
					<div class="clear"></div>
					
					<div class="col-xs-12 col-md-6">
						<label>{label:city}</label>
						{field:city}
						
						<label>{label:region_state_province}</label>
						{field:region_state_province}
					</div>
					<div class="col-xs-12 col-md-6">
						<label>{label:phone}</label>
						{field:phone}
					</div>
					<div class="clear"></div>
				    <div class="clear"></div>
				    <div class="col-xs-12">
					    <p>
					    {field:share_email_phone} {instructions:share_email_phone}
					    </p>
				    </div>
				    
				    
				    <div class="clear"></div>
				    
				    <div class="col-xs-12">
					    <hr>
					    <h3>Professional Websites</h3>
					    <hr>
				    </div>
				    
				    <div class="col-xs-12 col-md-6">
					    <label>{label:personal_website}
					    {field:personal_website}
					    
					    <label>{label:itunes}
					    {field:itunes}
					    
					    <label>{label:bitbucket}
					    {field:bitbucket}
					    
					    <label>{label:additional_links}
					    {field:additional_links}
				    </div>
				    <div class="col-xs-12 col-md-6">
					    <label>{label:linkedin}</label>
					    {field:linkedin}
					    
					   <label> {label:github}</label>
					    {field:github}
					    
					    <label>{label:stack_overflow}</label>
					    {field:stack_overflow}
					    
					   <label> {label:additional_links_two}</label>
					    {field:additional_links_two}
				    </div>
				    <div class="col-xs-12">
					    <fieldset>
					        <input type="submit" value="Save" />
					    </fieldset>
				    </div>
				{/exp:profile:edit}
			</div>
		</div>
		
		{embed="Includes/.Footer"}
	</body>
</html>