{embed="Includes/.Source" pageTitle="" pageDescription=""}
		<link rel="stylesheet" type="text/css" href="{site_url}assets/css/account.css" />
	</head>
	
	<body>
		{embed="Includes/.Header"}
		
		<div class="container">
			<div class="col-xs-12 col-md-2">
				{embed="Includes/.Sidebar"}
			</div>
			<div class="col-xs-12 col-md-10">
				{exp:freemember:update_profile 
					form_id="password-form"
					form_class="col-xs-12 col-md-6"
					return="account/profile/updated-login" 
					require="current_password" 
					error_handling="inline" 
					error_delimiters='<span class="error">|</span>'
				}
				
				    <div class="col-xs-12 col-md-6">
					    <label for="first_name">First Name</label><br />
					    {field:first_name}<br />
					    {error:first_name}
					</div>
					<div class="col-xs-12 col-md-6">
					    <label for="last_name">Last Name</label><br />
					    {field:last_name}<br />
						{error:last_name}
					</div>
					<div class="col-xs-12">
					    <label for="email">Email</label><br />
					    {field:email}<br />
					    {error:email}
					</div>
					<div class="clear"></div>
					
					<div class="col-xs-12">
						<label>Change Password</label>
					    <div class="col-xs-12 box-outline">
						    <p>If you do not wish to change your password you can leave the next two fields blank</p>
						    <div class="col-xs-12 col-md-6">
						        <label for="password">Password</label><br />
						        {field:password}<br />
						        {error:password}
						    </div>
						    <div class="col-xs-12 col-md-6">
						        <label for="password">Confirm Password</label><br />
						        {field:password_confirm}<br />
						        {error:password_confirm}
						    </div>
					    </div>
					</div>
				    
				    
				
				    <div class="col-xs-12">
				        <label for="current_password">Current Password</label><br />
				        {field:current_password}<br />
				        {error:current_password}
				    </div>
				
				    <div class="col-xs-12">
				        <input type="submit" value="Change Login" class="button" />
				    </div>
				
				{/exp:freemember:update_profile}
			</div>
		</div>
		
		{embed="Includes/.Footer"}
	</body>
</html>