{embed="Includes/.Source" pageTitle="" pageDescription=""}
		<link rel="stylesheet" type="text/css" href="{site_url}assets/css/login.css" />
		
		<script type="text/javascript">
			$(document).ready(function(){
				$(".account-notification-bar").delay(5000).slideUp();
			});
		</script>
	</head>
	
	<body>
		{embed="Includes/.Header"}
		
		<div class="container">
			<div class="col-xs-12 col-md-2">
				{embed="Includes/.Sidebar"}
			</div>
			<div class="col-xs-12 col-md-10">
				{if segment_3}
					<div class="col-xs-12 account-notification-bar box-outline">
						{if segment_3 == "updated-login"}
							<p class='text-center'>Your login information has been updated.</p>
						{/if}
					</div>
				{/if}
			</div>
		</div>
		
		{embed="Includes/.Footer"}
	</body>
</html>