/* STYLESHEET MADE BY 

	
	
..,8888888888888D.88888888888888.:8888888.888888888I..I888888888=88888888888888.
 . $8888888888888..88888888888888.Z88888..:888888888.8888888888. 8888888888888~.
 ..888888...88888,O88888.  :88888 888888..O88888888888888888888..888888.......  
..888888O88888888.88888888888888:888888..O88888888888888888888..8888888888......
..8888888888888Z.88888888888888..888888..88888888888888~88888?..888888888~......
 888888====......88888D88888....888888..888888.8888888:888888..888888.... ......
.88888O.........888888.888888 ..88888O .88888O.888888.I88888,.,8888888888888....
888888.........,888887..8888O .888888..888888..88888..888888..8888888888888.....
888887 ..... ..888888. .$8888D:88888I..O88888..8888..888888..78888888888888 ....
                                                               
	
	
	BEN FJARE
	ben@prime-incorporated.com
	
	PRIME INCORPORATED
	BOZEMAN, MONTANA
	
	www.prime-incorporated.com 
	
	
*/
	
/* -------------------------------------------*/

/* -- TEXT STYLINGS -- */

h1,h2,h3,h4,h5,h6 {
	margin: 5px 0;
	font-weight: 200;
}

h1 {
	font-size: 24px;
	line-height: 36px;
}

h2 {
	font-size: 22px;
	line-height: 32px;
}

h3 {
	font-size: 20px;
	line-height: 28px;
}

h4 {
	font-size: 18px;
	line-height: 24px;
}

h5 {
	font-size: 16px;
	line-height: 20px;
}

h6 {
	font-size: 14px;
	line-height: 16px;
}

p {
	font-size: 12px;
	line-height: 16px;
	margin:5px 0;
}

a {
	
}

a:hover {
	text-decoration: none;
}

strong, b {
	font-weight: bold;
}

em {
	font-style: italic;	
}

ul, ol {
	margin: 0 0 15px 30px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

li {
	padding: 5px 0;
	font-size: 12px;
}

table {
	
}
tr {
	
}
tr:nth-child(even){
	background-color: #ddd;
}

tr:nth-child(odd){
	background-color: #eee;
}
td {
	padding:10px;	
	vertical-align: middle;
	font-size: 12px;
	line-height: 16px;
}

th {
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;

}

/* -- GLOBAL UTILITIES & MINOR FORMATTING -- */

.clear {
	clear: both;
}

.pageMainHeading {
	text-transform: uppercase;
	color: #aaa;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 25px;
	padding-bottom: 15px;
	font-weight: 200;
	
}

.button, input[type="submit"] {
	display: inline-block;
	width: 100%;
	margin: 10px auto;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 3px;
	border: 0px solid #ccc;
	transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
}

.button:hover {
	color: #000;
	background-color: #ddd;
	cursor: pointer;
}

.redButton {
	background-color: #ff0000 !important;
}

.greenButton {
	background-color: #16b900 !important;
}


body, html {
	width: 100%;
	height: 100%;
}

body {
	font-family: helvetica;
	color: #666;
}

label {
	margin: 8px 0px 3px;
	font-size: 12px;
}
input[type="text"], input[type="email"], input[type="password"] {
	width: 100%;
	margin: 3px 0px 10px;
	padding: 4px 10px;
	font-size: 12px;
}
input[type=checkbox]{
	width: auto !important;
	margin-right: 15px;
}



input[type="submit"]:hover {
	opacity: .5
}

textarea {
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	padding: 10px;
}
.box-outline {
	padding: 15px;
	border: 1px dotted #aaa;
	background-color: #eee;
}


/* -- GLOBAL NAVIGATION -- */
.navbar {
	margin: 0px auto 25px auto;
	padding: 15px;
	height: 65px;
	background-image:url('../images/headerBG.png');
	border:0px;
	border-radius: 0px;
	position: relative;
	z-index: 10;
	box-shadow: 5px 0px 15px #000;
}

#logo {
	width: 200px;
}
#navigation_login_form label {
	
}
#navigation_login_form input {
	
}

#navigation_login_form input[type="password"], #navigation_login_form input[type="email"] {
	font-size: 12px;
	border-radius: 4px;
	border:0px;
	padding: 7px;
}

#navigation_login_form #submitContainer {
	padding: 0px;
}

#navigation_login_form input[type="submit"]{
	font-size: 12px;
	text-transform: uppercase;
	padding:7px 0px 6px 0;
	width: 100%;
	text-align: center;
	background-color: #fff;
	border-radius: 4px;
	border:0px;
	font-weight: bold;
	color: #666;
	
		transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
}

#navigation_login_form input[type="submit"]:hover {
	opacity: .5;
}

#navigation_forgot_password {
	  float: right;
	  margin: 8px 15px 0px;
	  font-size: 10px;
	  position: relative;
	  top: -15px;
	  color: #fff;
	  right: 70px;
}
.navigation {
	
}
.navigation li {
	list-style: none;
}
.navigation li a, .navbar li a {
	float: left;
	display: inline-block;
	margin: 10px 0px;
	padding: 0px;
	font-size: 12px ;
	color: #fff;
	padding: 0px 10px;
	border-right: 1px solid rgba(255,255,255,.3);
		transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
}

.navigation li a, .navbar li a:hover {
	background-color: rgba(255,255,255,.3);
}

.navigation li a, .navbar li a.lastLink {
	border:0px;
}



.navbar li a.lastLink {
	border:0px;
}

.navbar-brand {
	padding: 0px;	
}

.navbar .headerLoggedInName a {
	color: #eee;
	font-style: italic;
}


/* -- SIDE NAVIGATION -- */
.side_navigation {
	min-height: 400px;
	margin: 0px;
	border-right: 1px solid #ccc;
}
.side_navigation li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.side_navigation li a {
	display: block;
	width: 100%;
	margin: 4px 0px;
	padding: 8px 5px;
	text-align: right;
	font-size: 12px;
	background-color: #fff;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-radius: 4px 0 0 4px;
		transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
}
.side_navigation li a:hover {
	background-color: #eee;
}

/* --- FOOTER --- */


#footer {
	height: 100px;
	margin-top: 50px;
}


