/* STYLESHEET MADE BY 

	
	
..,8888888888888D.88888888888888.:8888888.888888888I..I888888888=88888888888888.
 . $8888888888888..88888888888888.Z88888..:888888888.8888888888. 8888888888888~.
 ..888888...88888,O88888.  :88888 888888..O88888888888888888888..888888.......  
..888888O88888888.88888888888888:888888..O88888888888888888888..8888888888......
..8888888888888Z.88888888888888..888888..88888888888888~88888?..888888888~......
 888888====......88888D88888....888888..888888.8888888:888888..888888.... ......
.88888O.........888888.888888 ..88888O .88888O.888888.I88888,.,8888888888888....
888888.........,888887..8888O .888888..888888..88888..888888..8888888888888.....
888887 ..... ..888888. .$8888D:88888I..O88888..8888..888888..78888888888888 ....
                                                               
	
	
	BEN FJARE
	ben@prime-incorporated.com
	
	PRIME INCORPORATED
	BOZEMAN, MONTANA
	
	www.prime-incorporated.com 
	
	
*/
	
/* -------------------------------------------*/

/* -- TEXT STYLINGS -- */

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 15px 0;
}

h1 {
	font-size: 50px;
	line-height: 36px;
}

h2 {
	font-size: 28px;
	line-height: 32px;
}

h3 {
	font-size: 24px;
	line-height: 28px;
}

h4 {
	font-size: 20px;
	line-height: 24px;
}

h5 {
	font-size: 16px;
	line-height: 20px;
}

h6 {
	font-size: 12px;
	line-height: 16px;
}

p {
	font-size: 16px;
	margin:0 0 15px 0;
}

a {
	
}

a:hover {
	text-decoration: none;
}

strong, b {
	font-weight: bold;
}

em {
	font-style: italic;	
}

ul, ol {
	margin: 0 0 15px 30px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

li {
	padding: 5px 0;
	font-size: 12px;
}

table {
	
}
tr {
	
}
tr:nth-child(even){
	background-color: #ddd;
}
td {
	padding: 5px 10px;	
}

/* -- GLOBAL UTILITIES & MINOR FORMATTING -- */

.clear {
	clear: both;
}

.button {
	display: block;
	width: 100%;
	margin: 10px auto;
	padding: 30px 15px;
	color: #000;
	text-align: center;
	background-color: #fff;
	border: 2px solid #000;
	transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
}

.button:hover {
	color: #000;
	background-color: #ddd;
	cursor: pointer;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	
}

label {
	margin: 8px 0px 3px;
	font-size: 12px;
}
input {
	width: 100%;
	margin: 3px 0px 10px;
	padding: 4px 10px;
}
input[type=checkbox]{
	width: auto !important;
	margin-right: 15px;
}
textarea {
	width: 100%;
}
.box-outline {
	padding: 15px;
	border: 1px solid #000;
	background-color: #aaa;
}


/* -- GLOBAL NAVIGATION -- */
.navbar {
	margin: 15px auto;
	padding: 15px;
	border: 2px solid #000;
}
#logo {
	
}
#navigation_login_form label {
	
}
#navigation_login_form input {
	
}
#navigation_login_form input[type=submit] {

}
#navigation_forgot_password {
	float:right;
	margin: 8px 15px 0px;
	font-size: 12px;
}
.navigation {
	
}
.navigation li {
	list-style: none;
}
.navigation li a {
	float: left;
	display: inline-block;
	margin: 10px 0px;
	padding: 5px 10px;
	font-size: 16px;
	border-right: 2px solid #000;
}


/* -- SIDE NAVIGATION -- */
.side_navigation {
	min-height: 400px;
	margin: 0px;
	border-right: 2px solid #000;
}
.side_navigation li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.side_navigation li a {
	display: block;
	width: 100%;
	margin: 0px;
	padding: 8px 5px;
	text-align: right;
	background-color: #ccc;
}
.side_navigation li a:hover {
	background-color: #999;
}
