/* STYLESHEET MADE BY 

	
	
..,8888888888888D.88888888888888.:8888888.888888888I..I888888888=88888888888888.
 . $8888888888888..88888888888888.Z88888..:888888888.8888888888. 8888888888888~.
 ..888888...88888,O88888.  :88888 888888..O88888888888888888888..888888.......  
..888888O88888888.88888888888888:888888..O88888888888888888888..8888888888......
..8888888888888Z.88888888888888..888888..88888888888888~88888?..888888888~......
 888888====......88888D88888....888888..888888.8888888:888888..888888.... ......
.88888O.........888888.888888 ..88888O .88888O.888888.I88888,.,8888888888888....
888888.........,888887..8888O .888888..888888..88888..888888..8888888888888.....
888887 ..... ..888888. .$8888D:88888I..O88888..8888..888888..78888888888888 ....
                                                               
	
	
	BEN FJARE
	ben@prime-incorporated.com
	
	PRIME INCORPORATED
	BOZEMAN, MONTANA
	
	www.prime-incorporated.com 
	
	
*/
	
/* -------------------------------------------*/

/* -- TEXT STYLINGS -- */

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 15px 0;
}

h1 {
	font-size: 32px;
	line-height: 36px;
}

h2 {
	font-size: 28px;
	line-height: 32px;
}

h3 {
	font-size: 24px;
	line-height: 28px;
}

h4 {
	font-size: 20px;
	line-height: 24px;
}

h5 {
	font-size: 16px;
	line-height: 20px;
}

h6 {
	font-size: 12px;
	line-height: 16px;
}

p {
	font-size: 16px;
	margin:0 0 15px 0;
}

a {
	
}

a:hover {

}

strong, b {
	font-weight: bold;
}

em {
	font-style: italic;	
}

ul, ol {
	margin: 0 0 15px 30px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

li {
	padding: 5px 0;
	font-size: 12px;
}

/* -- GLOBAL UTILITIES & MINOR FORMATTING -- */

.clear {
	clear: both;
}

.button {
	display: inline-block;
	transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
}

.button:hover {
	opacity: .5;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	
}
