.loginBGslideshow {
	position: fixed;
	top:0;
	bottom:0;
	width:100%;
	background-size: cover;
}

.loginBigSlide {
	position: fixed;
	width: 100% !important;
	top:0;
	bottom: 0;
	background-size: cover;
}


x.login_containers {
	padding: 15px;
	border: 2px solid #000;
	border-radius: 10px;
}

#login_container_tagline {
	margin: 10px 0px;
}

.login_containers {
	position: relative;
	z-index: 10;
	background-color: rgba(255,255,255,.8);
	padding: 15px;
	border-radius: 15px;
}


.bigSlideArrow {
	width: 50px;
	height: 50px;
	background-size: contain;
	display: block;
	top: 50%;
	position: fixed;
	z-index: 10;
	cursor: pointer;
		transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
}

.bigSlideArrow:hover {
	opacity: .5;
}

#arrowLeft {
	left:10px;
	background-image: url('../images/arrowLeft.png');
}

#arrowRight {
	right:10px;
	background-image: url('../images/arrowRight.png');
}

.loginButtonContainer {
	
	height: 110px;
	width: 290px;
	background-repeat: no-repeat;
	background-position: left center;
	margin: 0 auto;
}

.loginCircleButton {
	height: 105px;
	float: right;
	width: 108px;
	display: block;
	margin-top: 2px;
		transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
}

#login_container_left .loginButtonContainer {
	background-image: url('../images/candidates_button.png');
}

#login_container_left .loginCircleButton {
	background-image: url('../images/candidates_circle_button.png');
}

#login_container_right .loginButtonContainer {
	background-image: url('../images/manager_button.png');
}

#login_container_right .loginCircleButton {
	background-image: url('../images/manager_circle_button.png');
}


#login_container_left .loginCircleButton:hover {
	background-image: url('../images/candidates_circle_staticbutton.png');
}

#login_container_right .loginCircleButton:hover {
	background-image: url('../images/manager_circle_staticbutton.png');
}
