.loginBGslideshow {
	position: fixed;
	top:0;
	bottom:0;
	width:100%;
	background-size: cover;
}

.loginBigSlide {
	position: fixed;
	width: 100% !important;
	top:0;
	bottom: 0;
	background-size: cover;
}


x.login_containers {
	padding: 15px;
	border: 2px solid #000;
	border-radius: 10px;
}

#login_container_tagline {
	margin: 10px 0px;
}

.login_containers {
	position: relative;
	z-index: 10;
	background-color: #fff;
	padding: 15px;
	border-radius: 15px;
}