.loginBGslideshow {
	position: fixed;
	top:0;
	bottom:0;
	width:100%;
	background-size: cover;
}

.loginBigSlide {
	position: fixed;
	width: 100% !important;
	top:0;
	bottom: 0;
	background-size: cover;
}


x.login_containers {
	padding: 15px;
	border: 2px solid #000;
	border-radius: 10px;
}

#login_container_tagline {
	margin: 10px 0px;
}

.login_containers {
	position: relative;
	z-index: 10;
	background-color: #fff;
	padding: 15px;
	border-radius: 15px;
}


.bigSlideArrow {
	width: 100px;
	height: 100px;
	background-size: contain;
	display: block;
	top: 50%;
	position: fixed;
	z-index: 10;
	cursor: pointer;
		transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
}

.bigSlideArrow:hover {
	opacity: .5;
}

#arrowLeft {
	left:10px;
	background-image: url('../images/arrowLeft.png');
}

#arrowRight {
	right:10px;
	background-image: url('../images/arrowRight.png');
}
