{embed="Includes/.Source" pageTitle="" pageDescription=""}
		<link rel="stylesheet" type="text/css" href="{site_url}assets/css/login.css" />
	</head>
	
	<body>
		{embed="Includes/.Header"}
		
		{if logged_in}
			{redirect="account/profile"}
		{/if}
		
		<div class="full-height container">
			<div class="col-xs-12 center-vertically">
				<div class="col-xs-12 col-md-6">
					{if segment_3 == ""}
						<h1>Forgot your Password?</h1>
						<p class="col-xs-12 col-md-9">Enter your email below to start the password update proccess.</p>
						{exp:freemember:forgot_password 
							reset="login/forgot-password/reset"
							return="login/forgot-password/sent" 
							error_handling="inline" 
							error_delimiters='<span class="error">|</span>'
						}
						    <div class="col-xs-12">
						        <label for="email">Email</label><br />
						        {field:email}<br />
						        {error:email}
						    </div>
						    <div class="col-xs-12">
						        <input type="submit" value="Send Email" class="button" />
						    </div>
						{/exp:freemember:forgot_password}
					{if:elseif segment_3 == "sent"}
						<h1>Your Password is on it's way</h1>
						<p>An email has been sent to your email, click the link to reset your password.</p>
					{if:elseif segment_3 == "reset"}
						<h1>Reset Your Password</h1>
						<p>Please enter your desired password below.</p>
						{exp:freemember:reset_password 
							return="login" 
							error_handling="inline" 
							error_delimiters='<span class="error">|</span>'
						}
						
						    {if no_results}
						        <p>Sorry, the link you clicked does not appear to be valid, or has expired.</p>
						    {/if}
						
						    <div class="col-xs-12">
						        <label for="password">New Password</label><br />
						        <input type="password" name="password" value="" /><br />
						        {error:password}
						    </div>
						
						    <div class="col-xs-12">
						        <label for="password_confirm">Confirm New Password</label><br />
						        <input type="password" name="password_confirm" value="" /><br />
						        {error:password_confirm}
						    </div>
						
						    <div class="col-xs-12">
						        <input type="submit" value="Reset Password" class="button" />
						    </div>
						
						{/exp:freemember:reset_password}
					{/if}
				</div>
				<div class="col-xs-12 col-md-6">
					<img src="{site_url}assets/images/register.png" class="img-responsive" />
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
		{embed="Includes/.Footer"}
	</body>
</html>