{embed="Includes/.Source" pageTitle="" pageDescription=""}
		<link rel="stylesheet" type="text/css" href="{site_url}assets/css/login.css" />
		<script type="text/javascript">
			var resizeSlides = function(){
				var windowHeight = $(window).height();
				$('.loginBigSlide').height(windowHeight);
			}
			
			$(document).ready(resizeSlides);
			$(window).resize(resizeSlides);
			
		</script>
	</head>
	
	<body>
		{embed="Includes/.Header"}
		
		{if logged_in}
			{redirect="account/profile"}
		{/if}
		
		<span class="bigSlideArrow" id="arrowLeft"></span>
		<span class="bigSlideArrow" id="arrowRight"></span>
		
		<div class="loginBGslideshow">
			<div class="cycle-slideshow"
				data-cycle-slides="> div"
				data-cycle-prev="#arrowLeft"
				data-cycle-next="#arrowRight"
			>
				
				<div class="loginBigSlide" style="background-image:url('{site_url}assets/images/bg1.jpg');">
				</div>
				
				<div class="loginBigSlide" style="background-image:url('{site_url}assets/images/bg2.jpg');">
				</div>
				
			</div>
		</div>
		
		<div class="full-height container">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1 center-vertically login_containers">
				<div class="col-xs-12 col-md-6" id="login_container_left">
					<h3 class="text-center">
						Connect Directly<br>
						To Hiring Managers
					</h3>
					<div class="loginButtonContainer">
						<a href="{path='login/register'}" class="loginCircleButton"></a>
					</div>
					
				</div>
				<div class="col-xs-12 col-md-6" id="login_container_right">
					<h3 class="text-center">
						Browse The Largest iOS<br>
						Community In The World
					</h3>
					<div class="loginButtonContainer">
						<a href="{path='login/manager'}" class="loginCircleButton"></a>
					</div>
					
				</div>
				<div class="clear"></div>
				<h2 class="text-center" id="login_container_tagline">No Recruiters, No Hiring Managers, No Bullshit</h2>
			</div>
		</div>
		
		{embed="Includes/.Footer"}
	</body>
</html>