{embed="Includes/.Source" pageTitle="" pageDescription=""}
		<link rel="stylesheet" type="text/css" href="{site_url}assets/images/login.css" />
	</head>
	
	<body>
		{embed="Includes/.Header"}
		
		<div class="container">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<div class="col-xs-12 col-md-6">
					<h3 class="text-center">
						Connect Directly<br>
						To Hiring Managers
					</h3>
					<a href="{path='login/register'}" class="button">Candidates Join</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<h3 class="text-center">
						Browse The Largest iOS<br>
						Community In The World
					</h3>
					<a href="{path='login/manager'}" class="button">Managers Join Now</a>
				</div>
				<div class="clear"></div>
				<h2 class="text-center">No Recruiters, No Hiring Managers, No Bullshit</h2>
			</div>
		</div>
		
		{embed="Includes/.Footer"}
	</body>
</html>